version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: ./Dockerfile
    image: backend
    container_name: backend
    expose:
      - "6000"
    restart: unless-stopped
    networks:
      - webnet

  reverse-proxy:
    build:
      context: .
      dockerfile: ./nginx/Dockerfile
    image: reverse-proxy
    container_name: reverse-proxy
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - webnet
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - /home/ec2-user/nginx-logs:/var/log/nginx

networks:
  webnet:
    driver: bridge
