version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: ./Dockerfile
    image: opscenter
    container_name: backend
    expose:
      - "6000"
    restart: unless-stopped

  reverse-proxy:
    build:
      context: .
      dockerfile: ./nginx/Dockerfile
    image: reverseproxy
    container_name: reverse-proxy
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: unless-stopped

    volumes:
      - ./nginx/healthcheck.html:/usr/share/nginx/html/healthcheck.html

networks:
  webnet:
    driver: bridge
