version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: ./Dockerfile
    image: ghcr.io/ajprogramming123/opscenter:latest  # <- explicitly set image name
    container_name: backend
    expose:
      - "6000"
    restart: unless-stopped
    networks:
      - webnet

  reverse-proxy:
    build:
      context: .
      dockerfile: ./nginx/Dockerfile
    image: ghcr.io/ajprogramming123/opscenter-reverseproxy:latest  # <- explicitly set image name
    container_name: reverse-proxy
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - webnet

networks:
  webnet:
    driver: bridge
