name: opscenter backend

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ajprogramming123
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and tag backend image for GHCR
        run: |
          docker build -t ghcr.io/ajprogramming123/opscenter:latest -f Dockerfile .

      - name: Push latest backend image
        run: docker push ghcr.io/ajprogramming123/opscenter:latest
