name: Push reverse-proxy image

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ajprogramming123
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build reverse-proxy image
        run: docker compose build reverse-proxy

      - name: Tag and push reverse-proxy image
        run: |
          docker tag reverse-proxy:latest ghcr.io/ajprogramming123/opscenter-reverseproxy:latest
          docker push ghcr.io/ajprogramming123/opscenter-reverseproxy:latest
